.wishes{


min-height:100vh;


padding:90px 20px;



background:#faf7f2;



display:flex;


justify-content:center;


align-items:center;


}




.wish-card{


width:100%;


max-width:700px;


padding:45px;



background:rgba(255,255,255,.6);



backdrop-filter:blur(20px);



border:1px solid rgba(212,175,55,.25);



border-radius:25px;



text-align:center;



box-shadow:

0 20px 50px rgba(212,175,55,.12);



}



.wish-card h1{


font-family:"Playfair Display",serif;


font-size:2.5rem;


color:#8a6a00;


}



.wish-card p{


color:#6b665d;


}





form{


display:flex;


flex-direction:column;


gap:15px;


margin-top:30px;


}




input,
textarea{


padding:15px;


border:none;


outline:none;



border-bottom:1px solid #d4af37;



background:transparent;



font-family:"DM Sans";


}




textarea{


height:120px;


resize:none;


}




button{


padding:14px;


border:none;


border-radius:999px;



background:

linear-gradient(

45deg,

#d4af37,

#e9c349

);



color:white;



font-weight:600;


cursor:pointer;


}





.comments{


margin-top:40px;


display:flex;


flex-direction:column;


gap:15px;


}




.comment{


padding:20px;


border-radius:18px;


background:rgba(212,175,55,.08);


text-align:left;


}



.comment h3{


font-family:"Playfair Display",serif;


color:#8a6a00;


margin:0;


}



@media(max-width:600px){


.wish-card{

padding:30px 20px;

}


.wish-card h1{

font-size:2rem;

}


}

.comment{

display:flex;

align-items:center;

gap:15px;

padding:18px;

border-radius:18px;

background:rgba(212,175,55,.08);

position:relative;

}


.avatar{

width:45px;

height:45px;

border-radius:50%;


display:flex;

align-items:center;

justify-content:center;


background:linear-gradient(
45deg,
#d4af37,
#e9c349
);


color:white;

font-family:"Playfair Display";

font-size:1.2rem;

font-weight:bold;

}



.comment-text{

flex:1;

}



.comment h3{

margin:0;

font-family:"Playfair Display",serif;

color:#8a6a00;

}



.comment p{

margin-top:5px;

}



.delete-btn{


border:none;

background:transparent;

color:#b08d57;

cursor:pointer;

font-size:1rem;

transition:.3s;

}


.delete-btn:hover{

color:#ba1a1a;

transform:scale(1.1);

}



.empty{

text-align:center;

color:#8a8276;

margin-top:30px;

}